.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 60px 40px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #1f1f1f;
  line-height: 1.3;
  margin: 0;
  /* flex: 1; */
  /* max-width: 80%; */
}

.hero-text .highlight {
  color: #facc15;
}

.hero-text .username {
  color: #191b1e;
}

.hero-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.home-body {
  /* min-height: 100vh;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
  text-align: center; */

  position: relative;
  z-index: 0;
  min-height: 100vh;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px; 
} 



.home-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* light overlay */
    z-index: -1;
}

.home-body > * {
  position: relative;
  z-index: 1;
}



.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb627;
    max-width: 1000px;
    width: 90%;
    margin: 2rem auto;
    padding: 0.75rem 1rem;
    border-radius: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    flex-wrap: wrap;
  }


.mapBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.map {
  background-color: aqua;
  width: 100px;
  height: 100px;
}

.map2 {
  background-color: #ffb627;
  width: 100px;
  height: 100px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 120px;
}

.search-section label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #000;
}

.search-section select {
  padding: 0.4rem 0.75rem;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
  font-size: 14px;
  width: 100%;
}

.search-button {
  background-color: white;
  color: #ffb627;
  border: none;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #fce7b0;
}
