:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FAFAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFB627;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header{
  background-color: #FFB627;
  width: 100%;

  .navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 26px 10px;
    
    .front{
      display: flex;
      flex-direction: row;
      width: 202.36px;
      justify-content: space-between;
    }
    .back{
      display: flex;
      flex-direction: row;
      width: 242.24px;
      justify-content: space-between;
    }
  }
}



.mid{
  color: #000000;
}
.homeBody{
  height: 1500px;
  .topBody{
    background-image: url("./assets/background.png");
    background-size: 500px;
  }
  .searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #804545;
    margin: 0px 400px 0px 400px;
    border-radius: 100px ;
  }
}

.footer{ /* fix, add div to inside footer for margin*/
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  .footer-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 64px 0px 64px;
    .sub-to-update{
      text-align: left;
    }
  }
  .footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-weight: 500;
    margin: 80px 64px 80px 64px;
  }
  .credits{
    margin: 0px 64px 80px 64px;
    .creds{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .creds-left{
      display: flex;
      flex-direction: row;
      text-decoration: underline;
      justify-content: space-between;
      }
      .creds-right{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

.body-home{
  max-width: 100%;
  max-height: fit-content;
}
